:root {
  /* variables and main font and color here */
}

.mainContainer {
  padding: 1rem;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 0.2fr 1.3fr 1.3fr 1.3fr 0.3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sideBar main1 main1 main1"
    "sideBar main2 main2 content1"
    "sideBar content2 content3 content4"
    "sideBar footer footer footer";
  grid-gap: .2rem;
}

nav {
  grid-area: nav;
}

.main1 {
  grid-area: main1;
}

.main2 {
  grid-area: main2;
}

#sideBar {
  grid-area: sideBar;
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

footer {
  grid-area: footer;
}

.main1, .main2 {
  border: solid 1px gray;
  border-radius: .5em;
}

nav, footer {
  border: solid 1px gray;
  border-radius: .5em;
}

.mainContainer > div {
  border: solid 1px gray;
  border-radius: .5em;
}

@media only screen and (max-width:500px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas:
      'nav'
      'sideBar'
      'main1'
      'main2'
      'content1'
      'content2'
      'content3'
      'content4'
      'footer';

  }
}
