:root {
  /* variables and main font and color here */
  --neonGreen: #39FF14;
  --clearFade: rgba(255,255,255,.1);
  --fadedPurple: rgba(72,50,168,.5);
  --soundwaveBlue: rgba(37, 43, 153,.7);
  color: #e6e2c5;
}

html {
  background-image: url('./images/background.jpeg');
  background-size: cover;

}

.mainContainer {
  padding: 1rem;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 0.2fr 1.3fr 1.3fr 1.3fr 0.3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sideBar main1 main1 main1"
    "sideBar main2 main2 content1"
    "sideBar content2 content3 content4"
    "sideBar footer footer footer";
  grid-gap: 1rem;
}

nav {
  grid-area: nav;
  background: var(--soundwaveBlue);
  backdrop-filter: blur(.05em);
  /* box-shadow: 0rem 0rem .5rem var(--neonGreen); */
}

.main1 {
  grid-area: main1;
  background: var(--clearFade);
  backdrop-filter: blur(.3rem);
  box-shadow: .2rem .2rem 0rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.1);
}

.main2 {
  grid-area: main2;
  background: var(--clearFade);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .5rem var(--neonGreen);
}

#sideBar {
  grid-area: sideBar;
  background: var(--fadedPurple);

}

#content1 {
  grid-area: content1;
  background: var(--fadedPurple);
}

#content2 {
  grid-area: content2;
  background: var(--clearFade);
  backdrop-filter: blur(.3rem);
  box-shadow: .2rem .2rem 0rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.1);
}

#content3 {
  grid-area: content3;
  background: var(--fadedPurple);
}

#content4 {
  grid-area: content4;
  background: var(--clearFade);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .5rem var(--neonGreen);
}

footer {
  grid-area: footer;
  background: var(--soundwaveBlue)
}




@media only screen and (max-width:500px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas:
      'nav'
      'sideBar'
      'main1'
      'main2'
      'content1'
      'content2'
      'content3'
      'content4'
      'footer';

  }
}
