@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


:root {
  /* variables and main font color here */
  --neonGreen: #39FF14;
  --neonGreenRGB: 57, 255, 20;
  --neonOrange: #ff6700;
  --neonBlue: #15f4ee;
  --neonBlueRGB: 21, 244, 238;
  --neonYellow: #fff300;
  --neonYellowRGB: 255, 243, 0;
  --magenta: #ff44cc;
  --magentaRGB: 255, 68, 204;

  --clearFade: rgba(255,255,255,.1);
  --fadedPurple: rgba(72,50,168,.5);
  --soundwaveBlue: rgba(37, 43, 153,.7);

  color: #e6e2c5;
}

html {
  background-image: url('./images/background.jpeg');
  /* background-image: linear-gradient(#1b1b2f, black, #e43f5a, #1f4068, #162447); */

  background-size: cover;
  font-family: 'Fira Sans', sans-serif;
}

.mainContainer {
  padding: 1rem;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 0.2fr 1.3fr 1.3fr 1.3fr 0.3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sideBar main1 main1 main1"
    "sideBar main2 main2 content1"
    "sideBar content2 content3 content4"
    "sideBar footer footer footer";
  grid-gap: 1rem;
  font-family: 'Fira Sans', sans-serif;
}

nav {
  grid-area: nav;
  background: var(--soundwaveBlue);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

.navUl {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navUl > li:hover {
  color: var(--magenta);
  opacity: .5;
  cursor: pointer;
}

.main1 {
  grid-area: main1;
  display: flex;
  background: var(--clearFade);
  backdrop-filter: blur(.2rem);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

.salesToReportDiv {
  width: 40%;
  margin: 3%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  backdrop-filter: blur(.4rem);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.2);
  border-radius: .5em;
}

.finalTotalDiv > h2 {
  color: var(--neonBlue);

}

#soundwaveContainer {
  background-image: url('./images/soundwave_standing.png');
  display: absolute;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vh;
  animation: none;
}

#transformButton {
  margin-top: 1em;
  margin-right: 1em;
  height: 4em;
  width: 10em;
  font-size: .5em;
  background: none;
  border: solid 1px var(--neonBlue);
  border-radius: .1em;
  color: var(--neonBlue);
}


.main2 {
  grid-area: main2;
  display: flex;
  background: var(--clearFade);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

.svgWrapper {
  height: 12rem;
  width: 13rem;
  margin: 1rem
}

.legendWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.legendWrapper > div {
  padding: .3em;
  border-radius: .2em;
  color: white
}

.legendWrapper > div > h6 {

  margin: 0;
}

.legendWrapper > div > p {
  margin: 0;
}

#ddLegend {
  background: rgba(var(--magentaRGB), .6)
}

#ueLegend {
  background: rgba(var(--neonYellowRGB), .6)
}

#pmLegend {
  background: rgba(var(--neonGreenRGB), .6)
}

#ghLegend {
  background: rgba(var(--neonBlueRGB), .6)

}

.content3and4Container {
  text-align: center;
  opacity: .7;
}

.content3and4Container > h5 {
  margin: .7em;
}

.tipsContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: .7;
}

#totalSpan {
  color: red;
}

#avgTicketH1 {
  color: var(--neonBlue);
}

#sideBar {
  grid-area: sideBar;
  background: var(--fadedPurple);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

.sideBarContent {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.searchBarContainer {
  margin: .5em;
  padding: .2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .3em;
}

.searchBarContainer > button {
  width: 4rem;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background: none;
  border: solid 1px #e6e2c5;
  border-radius: .1em;
  color: #e6e2c5;
}

.uploadContainer {
  text-align: center;
}

.dropzone {
  margin: 1em;
  border: dotted 1px #e6e2c5;
  border-radius: .3em;
}

.dropzone > p {
  text-align: center;
  opacity: .7;
}

#content1 {
  grid-area: content1;
  background: var(--fadedPurple);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

#content2 {
  grid-area: content2;
  background: var(--clearFade);
  backdrop-filter: blur(.3rem);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

#content3 {
  grid-area: content3;
  background: var(--clearFade);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

#content4 {
  grid-area: content4;
  background: var(--fadedPurple);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}


footer {
  grid-area: footer;
  background: var(--soundwaveBlue);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

#transformButton button:hover {
  background: var(--magenta);
  opacity: .5;
  cursor: pointer;
}

@keyframes transformToTapeRecorder {
  20% {
    background-image: url('./images/transform_1.png');
  }
  40% {
    background-image: url('./images/transform_2.png');
  }
  60% {
    background-image: url('./images/transform_3.png');
  }
  80% {
    background-image: url('./images/transform_4.png');
  }
  100% {
    background-image: url('./images/taperecorder.png');
  }
}

@keyframes transformToRobot {
  20% {
    background-image: url('./images/transform_4.png');
  }
  40% {
    background-image: url('./images/transform_3.png');
  }
  60% {
    background-image: url('./images/transform_2.png');
  }
  80% {
    background-image: url('./images/transform_1.png');
  }
  100% {
    background-image: url('./images/soundwave_standing.png');
  }
}

@media only screen and (max-width:500px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas:
      'nav'
      'main1'
      'main2'
      'sideBar'
      'content1'
      'content2'
      'content3'
      'content4'
      'footer';

  }
  .navUl > li {
    padding: .2em;
    font-size: .7em;
  }

}
