@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap');

:root {
  /* variables and main font color here */
  --neonGreen: #39FF14;
  --neonGreenRGB: 57, 255, 20;
  --neonOrange: #ff6700;
  --neonBlue: #15f4ee;
  --neonBlueRGB: 21, 244, 238;
  --neonYellow: #fff300;
  --neonYellowRGB: 255, 243, 0;
  --magenta: #ff44cc;
  --magentaRGB: 255, 68, 204;

  --clearFade: rgba(255,255,255,.1);
  --fadedPurple: rgba(72,50,168,.5);
  --soundwaveBlue: rgba(37, 43, 153,.7);
  /* rainbow colors */
  --pink: #ec87b9;
  --brightPink: #e75ea3;
  --yellow: #fbbd4e;
  --brightYellow: #fdd349;
  --mint: #8ed1b5;
  --turquoise: #55cbcb;
  --lightBlue: #44b0c6;
  --purple: #757acd;
  --purplePink: #e272d5;
  color: #e6e2c5;
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  background-image: url('./images/background.jpeg');
  background-size: cover;
}

body {
  background-size: cover;
}

.mainContainer {
  padding: 1rem;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 0.2fr 1.3fr 1.3fr 1.3fr 0.3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sideBar main1 main1 main1"
    "sideBar main2 main2 content1"
    "sideBar content2 content3 content4"
    "sideBar footer footer footer";
  grid-gap: 1rem;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 2s;
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  background: var(--soundwaveBlue);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

.navUl {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#welcomeName {
  text-transform: uppercase;
}

.navUl > li:hover {
  color: var(--magenta);
  opacity: .5;
  transition: .5s;
  cursor: pointer;
}


.main1 {
  grid-area: main1;
  display: flex;

  background: var(--clearFade);
  backdrop-filter: blur(.2rem);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;

}

.salesToReportDiv {
  grid-area: reportDiv;
  width: 40%;
  margin: 3%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  backdrop-filter: blur(.4rem);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.2);
  border-radius: .5em;
}

.finalTotalDiv > h2 {
  color: var(--neonBlue);

}

/* =========== SOUNDWAVE COMPONENT ============= */

#soundwaveContainer {
  position: relative;
  background-image: url('./images/soundwave_standing.png');
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  animation: none;

}

#transformButton {
  position: absolute;
  bottom: 5%;
  right: 5%;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 4em;
  width: 10em;
  font-size: .5em;
  background: none;
  border: solid 1px var(--neonBlue);
  border-radius: .5em;
  color: var(--neonBlue);
  opacity: .7;
}

/* =========== BAR GRAPH STYLING ========= */

.main2 {
  grid-area: main2;
  display: flex;
  background: var(--clearFade);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
  animation: fadeIn 2s;
}

.svgWrapper {
  height: 12rem;
  width: 13rem;
  margin: 1rem;
}

.legendWrapper {
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.legendWrapper > div {
  padding: .3em;
  border-radius: .2em;
  color: white;
}

.legendWrapper > div > h6 {

  margin: 0;
}

.legendWrapper > div > p {
  margin: 0;
}

#ddLegend {
  background: rgba(var(--magentaRGB), .5)
}

#ueLegend {
  background: rgba(var(--neonYellowRGB), .5)
}

#pmLegend {
  background: rgba(var(--neonGreenRGB), .5)
}

#ghLegend {
  background: rgba(var(--neonBlueRGB), .5)

}

/* =========== SIDEBAR ========== */

#sideBar {
  grid-area: sideBar;
  background: var(--fadedPurple);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

.sideBarContent {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.searchBarContainer {
  margin: .5em;
  padding: .2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .3em;
  animation: fadeIn 3s;
}

.searchBarContainer > button {
  width: 4rem;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background: none;
  border: solid 1px #e6e2c5;
  border-radius: .1em;
  color: #e6e2c5;
}

/* ============== BACKGROUNDS COMPONENT ========== */

.backgroundsContainer {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.backgroundsContainer > h5 {
  opacity: .7;
}

.backgroundsContainer > div {
  width: 85%;
  height: 3rem;
  margin: .5rem;
  padding-left: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  box-shadow: 0rem 0rem .4rem rgba(255,255,255,.3);
  border-radius: .3em;
}

.backgroundsContainer > div:hover {
  text-shadow: 0rem 0rem .7rem rgba(255,255,255,.8);
  box-shadow: 0rem 0rem .4rem rgba(255,255,255,.8);
  transition: .5s;
  cursor: pointer;
}

/* ======== SIDEBAR COMPONENT STYLING ======= */

.uploadContainer {
  text-align: center;
  animation: fadeIn 3s;
}

.dropzone {
  margin: 1em;
  border: dotted 1px #e6e2c5;
  border-radius: .3em;
}

.dropzone > p {
  text-align: center;
  opacity: .7;
}

/* =========== BOTTOM HALF STYLING ========== */

#content1 {
  grid-area: content1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--fadedPurple);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

#content2 {
  grid-area: content2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clearFade);
  backdrop-filter: blur(.3rem);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

#content2 > button {
  height: 3em;
  border: none;
  background: none;
  color: var(--neonBlue);
  border: solid 1px var(--neonBlue);
  border-radius: .3em;
  font-weight: bold;
  opacity: .7;
}

#content3 {
  grid-area: content3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--clearFade);
  backdrop-filter: blur(.05em);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

#content4 {
  grid-area: content4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--fadedPurple);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--soundwaveBlue);
  box-shadow: 0rem 0rem .4rem rgba(0,0,0,.5);
  color: gray;
  letter-spacing: .4em;
  border: solid 1px rgba(255,255,255,.2);
  border-radius: .5em;
}

.content3and4Container {

  text-align: center;

  display: flex;
  flex-direction: column;

  opacity: .7;
}

.content3and4Container > h5 {
  margin: .7em;
}

.tipsContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: .7;
}

#totalSpan {
  color: red;
}

#avgTicketH1 {
  color: var(--neonBlue);
}

/* ============ MODAL SELECTORS ============ */

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  animation: fadeIn 1s;
}

.diplayShow {
  display: block;
}

.displayNone {
  display: none;
}

.modalContainer {
  display: flex;
  margin-top: 5rem;
}

.formDiv {
  background: linear-gradient(#1b1b2f, #1f4068, #162447);
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 8rem;
  padding: 1rem;
  width: 50%;
  border: solid .1em white;
  border-radius: .5em;
  color: white;
  animation: fadeIn 1s;
}

.formDiv > form > input {
  border: none;
  width: 95%;
}

.infoDivFiles {
  background-color: gray;
  text-align: center;
  margin: auto;
  padding: 1rem;
  width: 75%;
  height: 75%;
  color: #e6e2c5;
  border: solid 1px #e6e2c5;
  border-radius: .3em;
}

.errorDiv {
  font-family: 'Source Code Pro', monospace;
  color: var(--neonGreen);
}

#submitBtn, #registerBtn {
  margin-top: .5em;
  background: none;
  border: solid .1em white;
  border-radius: .2em;
  font-family: sans-serif;
  color: white
}

#xCloseBtn {
  margin-top: .5em;
  background-color: rgba(255, 255, 255, .5);
  border: none;
  border-radius: 50%;
  color: white;
}


/* ====== HOVER EFFECTS ======= */

/* .salesToReportDiv:hover,
.main2:hover,
#content1:hover,
#content2:hover,
#content3:hover,
#content4:hover {
  box-shadow: 0rem 0rem .7rem var(--neonGreen);
  transition: .5s;
} */

button:hover,
#transformButton:hover,
#content2 > button:hover,
#xCloseBtn:hover,
#filesInfoClick:hover {
  color: #e6e2c5;
  background: var(--neonBlue);
  opacity: .5;
  transition: .5s;
  cursor: pointer;
}


/* ====== ANIMATIONS ======= */

@keyframes transformToTapeRecorder {
  20% {
    background-image: url('./images/transform_1.png');
  }
  40% {
    background-image: url('./images/transform_2.png');
  }
  60% {
    background-image: url('./images/transform_3.png');
  }
  80% {
    background-image: url('./images/transform_4.png');
  }
  100% {
    background-image: url('./images/taperecorder.png');
  }
}

@keyframes transformToRobot {
  20% {
    background-image: url('./images/transform_4.png');
  }
  40% {
    background-image: url('./images/transform_3.png');
  }
  60% {
    background-image: url('./images/transform_2.png');
  }
  80% {
    background-image: url('./images/transform_1.png');
  }
  100% {
    background-image: url('./images/soundwave_standing.png');
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



@media only screen and (max-width:500px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr 1fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas:
      'nav'
      'main1'
      'main2'
      'content1'
      'content2'
      'content3'
      'content4'
      'footer';
    }

  .navUl > li {
    padding: .2em;
    font-size: .7em;
  }
  #sideBar {
    display: none;
  }
  .main1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'salesToReportDiv'
      'soundwaveContainer'
  }
  .salesToReportDiv {
    grid-area: salesToReportDiv;
  }
  #soundwaveContainer {
    grid-area: soundwaveContainer;
  }
}
